#set( $Form = "Form" )
#set( $PForm = "PrincipalForm" )
#set( $Detalhe = "Detalhe.xhtml" )
#set( $FormView = "Form.xhtml" )
#set( $conf = "Conflito" )
#set( $Hist = "Historico" )
#set( $WV = "WidgetVar" )
#set( $Edit = "Edit" )
#set( $Add = "Add" )
#set( $AddReg = "AddReg" )
#set( $AddDirimir = "AddDirimir" )
#set( $descricao = ".descricao" )

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	
	
	<!-- DESENHAR O PROPRIO -->
	<p:accordionPanel styleClass="accordionPanelDetalheCondicao">

		<p:tab
			title="Condição Principal - #{descritorTua.condicaoSelecionada.codigoCondicao}">
			<h:form id="#{descritorTua.prefixoComponentesUi}detalheDialog$entityName$PForm">
				<ui:include src="$entityName$Detalhe">
					<ui:param name="condicao" value="#{descritorTua.condicaoSelecionada}" />
					<ui:param name="apresentarBotoes" value="true" />
					<ui:param name="descritorTua" value="#{descritorTua}" />
					<ui:param name="caminhoTabela" value="#{caminhoTabela}" />
				</ui:include>
			</h:form>
		</p:tab>
		<!-- desenhar filhos -->
		<c:forEach items="${descritorTua.condicaoSelecionada.filhos}"
			var="filhoCondicao" varStatus="status">
			<p:tab title="Condição Secundária - #{filhoCondicao.codigoCondicao}">
				<h:form id="#{descritorTua.prefixoComponentesUi}detalheDialog$entityName#{status.index}Form">
					<ui:include src="$entityName$Detalhe">
						<ui:param name="condicao" value="#{filhoCondicao}" />
						<ui:param name="apresentarBotoes" value="true" />
						<ui:param name="descritorTua" value="#{descritorTua}" />
						<ui:param name="caminhoTabela" value="#{caminhoTabela}" />
					</ui:include>
				</h:form>
			</p:tab>
		</c:forEach>
	</p:accordionPanel>
	<br />
	<br />
	<p:outputPanel styleClass="alinharDireita">
		<p:commandButton
			value="Fechar" icon="fa fa-close"
			onclick="PF('dialogDetalheCondicao').hide();">
		</p:commandButton>
		<p:commandButton
			update="@([id$=dialogNovaCondicaoDirmir])"
			value="Dirimir conflito" icon="fa fa-diamond"
			rendered="#{descritorTua.visibilidadeTua.botaoDirimir and descritorTua.condicaoSelecionada.conflito}"
			oncomplete="PF('dialogDetalheCondicao').hide(); PF('dialogNovaCondicaoDirmir').show();">
			<f:setPropertyActionListener value="#{condicao}" target="#{descritorTua.condicaoSelecionada}" />
			<f:setPropertyActionListener value="#{descritorTua}" target="#{tuaBean.tvSelecionado}" />
		</p:commandButton>
	</p:outputPanel>
	
</ui:composition>